@{
    ViewData["Title"] = "Главная";
    var classifier = ClassifierSingletone.Instance().classifier;
}
<h1 class="mt-5">Система предсказания результативности матчей</h1>
<h5 class="mt-2">Выберите нужное действие на навигационной панели</h5>
<h3 class="mt-10">Статистика выигранных Кубков Гагарина у команд КХЛ</h3>


<canvas id="bar-chart" width="800" height="450"></canvas>

<script>

    document.addEventListener('DOMContentLoaded', function(){
        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
              labels: ["Ак Барс", "ЦСКА", "Металлург Мг", "CКА", "Динамо М", "Авангард", "Салават Юлаев"],
              datasets: [
                {
                  label: "Кубков:",
                  backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#3e95cd","#3cba9f"],
                  data: [3,2,2,2,2,1,1]
                }
              ]
            },
            options: {
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: true,
                    text: 'Статистика выигранных кубков'
                  }
                }
              },
        });
    })
</script>


